<!DOCTYPE html>
<html ng-app="ShoppingApp">
<head>
<title>View Products</title>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link href="css/StyleSheet.css" rel="stylesheet" type="text/css">

</head>

<body ng-controller="ProductController as prodCtrl"> 

    <div ng-include="'menu.html'" ></div>

<header>
  <div class = "mainheader">
    <h1>Products</h1>
  </div>
</header>

<button class = "buttons" ng-click="prodCtrl.returnProducts()"> All </button>
<button class = "buttons" ng-repeat="cat in prodCtrl.categories" ng-click="prodCtrl.selectCategory(cat)">{{cat}}
</button>


<div class = "table">
	<table ng-controller="CartController as cartCtrl">         
            <tr>
                    <th>Name</th>
                    <th>Description</th> 
                    <th>Price</th>
                    <th>Available</th>
            </tr>
            <tr ng-repeat="product in prodCtrl.products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.listPrice}}</td>
                <td>{{product.quantityInStock}}</td>
                <td><button class = "buttons" ng-click="cartCtrl.SelectProduct(product)"> Buy </button><td>
            </tr>
        </table>
</div>
